@model IEnumerable<ProducerInterfaceCommon.ContextModels.Account>
@{
    ViewBag.Title = "Список администраторов";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<h2>Администраторы сайта</h2>

<hr />

<table class="table-bordered table-condensed table-striped" id="table-width-100prc">
    <tr>
        <th>Логин</th>
        <th>Email</th>      
    </tr>
    @foreach (var Administrator in Model)
    {
        <tr>
            <td>@Administrator.Name</td>
            <td>
                @foreach(var eMailItem in Administrator.AccountEmail)
            {
                    <a href="mailto:@eMailItem.eMail">@eMailItem.eMail</a>
            }
            </td>
        </tr>
    }
</table>
