@model IEnumerable<EntityContext.ContextModels.ListUserView>
@{
    ViewBag.Title = "Список пользователей сайта";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список пользователей сайта</h2>
<hr />


<div class="panel-group panel-success" id="accordionlistpermission">

@foreach (var UserItem in Model)
{
    <h3>@UserItem.Name</h3>

    <div class="panel panel-default">
     
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapsePermissionList_@UserItem.Id" data-parent="#accordionlistpermission"><span class="glyphicon glyphicon-sort-by-attributes-alt"></span>&nbsp;&nbsp;&nbsp; Раскрыть</a>
            </h4>
        </div>
        <div id="collapsePermissionList_@UserItem.Id" class="panel-collapse collapse">
         
            <h4>Список групп </h4>
                <div class="form-group">
                    @for (int i = 0; i < UserItem.CountGroup; i++)
                    {
                        <p>@UserItem.Groups[i]</p>
                    }
                </div>

            <hr/>

            <h4>Список прав: </h4>
            <div class="form-group">
                @for (int i2 = 0; i2 < UserItem.CountPermissions; i2++)
                {
                    <p>@UserItem.ListPermission[i2]</p>
                }
            </div>

        </div>
    </div>
}

</div>


