@model String

<div class="form-group">
    <label>Номер телефона<strong class="required">*</strong></label>  
    @Html.TextBoxFor(model => model, null, new { @class = "form-control col-xs-12", @placeholder="(999) 999-99-99"})
    @Html.ValidationMessageFor(model => model)
</div>
