@using ProducerInterfaceCommon.ContextModels
@model int?
    <div class="form-group">
    @Html.LabelFor(m => m)
    @Html.DropDownListFor(m => m, new SelectList(ViewBag.AppointmentList, "Value", "Text", Model), new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m)

    <br />
    <div class="form-group">

        <a href="#postname" data-toggle="collapse">Отсутствует ваша должность</a>

        <div id="postname" class="collapse">
            <p> Выберите и существующих вариантов, после регистрации в личном кабинете заполните заявку на добавление вашей должности </p>
            
        </div>

    </div>

</div>
