@using ProducerInterfaceCommon.ContextModels
@model int?
    <div class="form-group">
    <label>Должность <strong class="required">*</strong></label>
    @Html.DropDownListFor(m => m, new SelectList(ViewBag.AppointmentList, "Value", "Text", Model), new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m)

    <br />
        <div class="form-group">

            <a href="#postname" data-toggle="collapse">Отсутствует ваша должность</a>
            
            <div class="collapse" id="postname">
                <div class="input-group">
                    <input type="text" id="newAppountName" placeholder="Свой вариант должности" class="form-control" />
                    <div class="input-group-btn" style="min-width: 175px;">
                        <a class="btn btn-primary" onclick="AddAppointment()">Добавить в список</a>
                    </div>
                </div>
            </div>
    </div>

</div>
