<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CassiniDev" version="4.0" targetFramework="net45" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net45" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net45" />
  <package id="NUnit" version="3.4.1" targetFramework="net45" />
  <package id="Quartz" version="2.3.3" targetFramework="net45" />
  <package id="Selenium.Support" version="2.53.1" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net45" />
</packages>