@model ProducerInterfaceCommon.Models.RunNowParam

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm())
            {
                <fieldset>
                    <legend>@ViewBag.Title</legend>
                    @Html.ValidationSummary(true)
                    @Html.EditorForModel()
                    <div class="row margin5">
                        <div class="flabel col-md-4">
                            @Html.ActionLink("К списку отчетов", "JobList", new { r = Guid.NewGuid() }, new { @class="btn btn-primary"})
                        </div>
                        <div class="feditor col-md-8">
                            <input id="btn" type="submit" class="btn btn-primary" value="Сформировать отчет" />
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>
    @section JavaScript {    
        <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
        <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
        <script src="~/Scripts/locales/bootstrap-datepicker.ru.min.js" charset="UTF-8"></script>
        <script src="~/Content/Chosen/js/initRunNow.js"></script>
    }
