@model ProducerInterfaceCommon.Models.News
@{
    ViewBag.Title = "Новости";
}

<div class="container body-content">
	<ol class="breadcrumb">
		<li>@Html.ActionLink("Главная", "Index") </li>
		<li class="active">Новость</li>
	</ol>

	<div class="row">
		<h3>@Model.Subject <span class="pull-right col-xs-2">@Model.DatePublication.Value.ToString("dd.MM.yyyy")</span></h3>
	</div>
	<div class="row">
		<p>@Html.Raw(Model.Body)</p>
	</div>
</div>
