@using DataJsGrid.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>

        <div>
            <fieldset>
                <legend>Search</legend>
                <span>Search For</span>
                <input type="text" name="txtsearch" id="txtsearch" />
                <input type="button" value="Submit" id="search" />
            </fieldset>
        </div>
        <table id="myTable" class="table table-striped table-bordered table-condensed">
            <tr>
                <th>Equipment ID <input id="sortid" name="sortid" value="true" /></th>
                <th>Equipment Name</th>
            </tr>
            <tbody data-bind="foreach: Profiles">
                <tr>
                    <td data-bind="text: equipment_id"></td>
                    <td data-bind="text: equipment_name"></td>
                </tr>
            </tbody>
        </table>
        <p id="message"></p>


    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/knockout-3.4.0.debug.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


    <script type="text/javascript">
        $(function () {
            $('#search').click(function () {
                var searchText = $('#txtsearch').val();
                getEquipment(searchText);
            })
            ko.applyBindings(EquipmentViewModel);
        })

        // View model declaration
        var EquipmentViewModel = {
            Profiles: ko.observableArray([])
        };

        // Bind the equipment
        bindData = function (equipment) {

            EquipmentViewModel.Profiles(equipment);
            EquipmentViewModel.Profiles.valueHasMutated();
        }

        getEquipment = function (searchTerm) {
            var url = 'GetList';
            var SortVal = $('#sortid').val();
            var dataFilter = "{'term':'" + searchTerm + "','sortid':" + SortVal + "}";
            $.ajax({
                url: url,
                cache: false,
                contentType: 'application/json',
                data: dataFilter, /*'{"term": "' + searchTerm + '"}{"sortid": "' + $('#sortid').val() + '"}',*/
                type: "POST",
                success: function (result) {
                    bindData(result);
                },
                error: function (jqXHR) {
                    $('#message').html(jqXHR.statusText);
                }
            });
        }

    </script>

</body>
</html>
