<div class="jumbotron">
	<div class="container">
		<h1 class="text-center">Начало!</h1>
		<p>Начата тестовая эксплуатация интерфейса производителя.</p>
		@Html.ActionLink("Регистрация", "Index", "Account", null, new { @class = "btn btn-primary btn-lg" })
	</div>
</div>