@model ProducerInterfaceControlPanelDomain.Models.UserPermission
@{
    ViewBag.Title = "Редактирования Описание Прав";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактирование описания @Model.Name</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.HiddenFor(m=>m.Id)
    @Html.HiddenFor(m => m.Name)
    <div class="form-group">
        <label>Описание</label>
        @Html.TextBoxFor(m=>m.Description, new { @class="form-control" })
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить описание" class="btn btn-primary"/>
    </div>

        }
