@model IEnumerable<ProducerInterfaceControlPanelDomain.Models.UserPermission>

@{
    ViewBag.Title = "Списко прав";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список прав с описанием</h2>

<hr />

<table class="table table-bordered table-striped" id="table-width-100prc">
    <tr>
        <th>Наименование</th>
        <th>Описание</th>
        <th>Редактирование</th>
    </tr>


    @foreach (var ItemPermission in Model)
    {
        <tr>
            <td>@ItemPermission.Name</td>
            <td>@ItemPermission.Description</td>
            <td><a href="~/ProducerUserPermission/EditPermission/@ItemPermission.Id" class="btn btn-primary">Редактировать</a></td>
        </tr>
       
    }
</table>