

@using System.Resources
@model int?
@{
    // имя свойства
    var propName = ViewData.ModelMetadata.PropertyName;
    // лист всех вариантов для построения селекта
    var propList = (List<ProducerInterfaceCommon.ContextModels.OptionElement>)ViewData[propName];
    // класс для ошибки валидации, если есть
    var errorClass = "";
    var state = ViewData.ModelState[propName];
    if (state != null && state.Errors.Count > 0)
    {
        errorClass = "input-validation-error";
    }
}
<div class="col-xs-12">
    <div class="form-group">
        <div class="@(errorClass)">
            @Html.LabelFor(m => m)
            @Html.DropDownListFor(m => m, new SelectList(ViewBag.PostList, "Value", "Text", Model), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m)
        </div>
    </div>
</div>

