body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    min-width:768px;
    font-family:Arial, Helvetica, sans-serif;
    width:100%;
    padding:0px;
    margin:0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 650px;
}

#accordion-menu {
    position:fixed;
    margin-top:0px;
    width:280px;    
    border-radius:0px;   
    height:100%;
    background-color:#110d33;
      
}
    #accordion-menu span {
    margin-right:1em;
    }
       #accordion-menu #loginspan {
    margin-right:0 auto;
    }

    #accordion-menu .panel {
    border-radius:0px;    
    }
     #accordion-menu .panel-title {
    border-radius:0px;    
    }
    #accordion-menu .panel .panel-heading {
    background-color:#1F1F2F;
    }

    #accordion-menu .panel-heading {
    border-radius:0px;    
    padding:6px;
    }
    #accordion-menu a {   
    max-height:28px;     
    text-decoration:none;
    width:100%;
    margin-left:0px;
    text-align:left;    
    }
        #accordion-menu .panel-collapse a {
        background-color:#31375F;        
        max-height:28px;     
        }

    #accordion-menu .panel-body {    
    padding:0px; 
    border-radius:0px;    
    }
    #accordion-menu .btn {
    border-radius:0px;    
    }
    #accordion-menu .menu-account {
        color: whitesmoke;
    }
#table-width-100prc {
width:100%;
}
    #table-width-100prc th {
    text-align:center;
    align-content:center;
    }
    #table-width-100prc .table-max-width-150px {
    max-width:150px;
    }
        #table-width-100prc .table-max-width-150px a {
        text-decoration:none;
        }
#form-group-mial-list p{
    font-style:italic;
}
#promoActionView {   
      padding:0.5em; 
}
#Promo-Action {

  
   /* min-height:20em;   */
}
    #Promo-Action div {
    background-color:#eeeeee;  
    border:outset;
    }

    #Promo-Action hr {
        background-color: green;
        height:0.2em;
        border-style:outset;
        border-color:#3e534f;       
    }

#ErrorLogTable tr td {
min-width:6em;
}
#Table-LogUserChange {
min-width:100%;
}
#Table-LogUserChange th {
    text-align:center;
}

#MenuPU {
}
MenuPU a {
font-size:1.6em;
}
.feedback_item {
padding:2em;
background-color:#eeeeee;
}
.table-custom {
width:100%;
min-width:100%;
}
    .table-custom th {
    text-align:center;
    }
    .table-custom td {
    padding:2px;
    }

    .nav-tabs > li.active > a,
        .nav-tabs > li.active > a:hover,
        .nav-tabs > li.active > a:focus{
            color: whitesmoke;
            background-color: #584a4a;  
        } 