@using ProducerInterfaceCommon.ContextModels
@model AccountGroup
@{
  ViewBag.Title = "Создание группы";
  Layout = "~/Views/Shared/_MasterPage.cshtml";
}

@section navigation{
    <div class="body-content affix-top">
        <div class="row">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Group", "PermissionUser")">Список групп</a>
                </li>
                <li class="active">Создать группу</li>
            </ol>
        </div>
    </div>
}
<h2>Создание Группы</h2>

<hr />

@using (Html.BeginForm("CreateGroup", "PermissionUser"))
{

<div class="form-group">
    <label>Название группы</label>
    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Менеджеры и т.д." })
    @Html.ValidationMessageFor(m => m.Name)
    <br/>
    <label>Тип группы</label>
    @Html.DropDownListFor(m => m.TypeGroup, EnumHelper.GetSelectList(typeof(TypeUsers), (TypeUsers)Model.TypeGroup), new { @class = "form-control" })
</div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Далее" />
    </div>
}
