@model IEnumerable<ProducerInterfaceCommon.ContextModels.promotions>

@{
    ViewBag.Title = "Домащняя страница";
    var producers = ViewBag.ProducerList as IEnumerable<ProducerInterfaceCommon.ContextModels.producernames>;
}



<div class="jumbotron">
    <h1>ASP.NET</h1>
   <h2>Стартовая страница Администрирования Интерфейса Производителя</h2>
</div>

  <fieldset class="container" id="promoActionView">
   
      <legend>          Список подтверждённых Промо-Акций производителей      </legend>      

      @foreach (ProducerInterfaceCommon.ContextModels.promotions PromotionItem in Model)
      {
        <div class="col-sm-4" id="Promo-Action">
            <div class="col-sm-12">
                <h3><span class="glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp; @PromotionItem.Name</h3>
                <h5>Описание: @PromotionItem.Annotation</h5>

                <hr />
                <h5>Производитель: @producers.Where(xxx => xxx.ProducerId == PromotionItem.ProducerId).First().ProducerName</h5>

            </div>
          </div>
      }   
      
  </fieldset>

