
@{
    ViewBag.Title = "Новости для производителей";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Новости для производителей</h2>

<hr/>

<div>
    <a class="btn btn-primary" href="@(Url.Action("List"))">К списку новостей</a>
    <a class="btn btn-primary" href="@(Url.Action("Create"))">Создать новую</a>
</div>
