
@{
    ViewBag.Title = "Упраление списком доменов производителей";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    var ProducerList = ViewBag.ProducerList as IEnumerable<ProducerInterfaceCommon.ContextModels.OptionElement>;
}

<div class="container body-content">
    <h2>Упраление списком доменов производителей</h2>

    <div class="row">
        <div class="form-group">
            <select id="idproducer" class="form-control">
                @foreach (var ProducerItem in ProducerList)
            {
                    <option value="@ProducerItem.Value">@ProducerItem.Text</option>
                }
            </select>
        </div>     
    </div>
    <div class="row" id="replacecontent">



    </div>
</div>

@section scripts
{
<script src="~/Scripts/WorkPlace/ProducerInfermation_DomainList.js"></script>
}
