@using ProducerInterfaceCommon.ContextModels;
@model  IEnumerable<AccountCompany>
@{
  
    ViewBag.Title = "Производитель";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<div class="row">
    <div class="col-xs-12">     
        <div class="row">
            <div class="col-xs-12">
                <p>Количество компаний зарегистрированнный на сайте: @Model.Where(xxx=>xxx.ProducerId != null).GroupBy(xxx=>xxx.ProducerId).Select(x=>x.FirstOrDefault()).Count()</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>Количество анонимных пользователей: @Model.Where(xxx => xxx.ProducerId == null).Count()</p>
            </div>
        </div>
    </div>
</div>