@using ProducerInterfaceCommon.ContextModels;
@{
  
    ViewBag.Title = "Производитель";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h2>В работе</h2>
        <h4>На данной странице будет отображатся статистика по интерфейсу производителя</h4>
    </div>
</div>