
@{
    ViewBag.Title = "Список должностей (Интерфейс производителя)";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<div class="container">

    <h2>Управление должностями</h2>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#GlobalListPost">Общий список должностей</a></li>
        <li><a data-toggle="tab" href="#panel2">Списки должностей производителей</a></li>
    </ul>

    <div class="tab-content">
        <div id="GlobalListPost" class="tab-pane fade in active">

            <div class="row">
                <div class="col-xs-12" id="replacecontent">
                
                </div>
            </div>

        </div>

        <div id="CustomListPost" class="tab-pane fade in active">

            <div class="row">
                <div class="col-xs-12" id="replacecontent">
                 
                </div>
            </div>

        </div>


    </div>
</div>


@section scripts
{
    <script type="text/javascript">
        function GlobalAddName()
        {



        }
        function GetAccountList()
        {



        }
        function AddAccountAppointment()
        {



        }
    </script>    
}