@model DateTime?
<div class="row margin5">
    <div class="flabel col-md-4">
        @Html.LabelFor(m => m)
    </div>
    <div class="feditor col-md-8">
        @Html.TextBox("", String.Format("{0:dd.MM.yyyy}", Model), new { @readonly = "readonly"})
        @Html.ValidationMessageFor(m => m)
    </div>
</div>

 