@model ProducerInterfaceCommon.Models.ProductResidueReport

@Html.EditorFor(m => m.Var)
<div id="HideCatalog">
    @Html.EditorFor(m => m.CatalogIdEqual)
</div>
@Html.EditorFor(m => m.RegionCodeEqual)
