@model ProducerInterfaceCommon.Models.ProductRatingReport

<div id="HideCatalog">
    @Html.EditorFor(m => m.CatalogIdEqual)
</div>
@Html.EditorFor(m => m.AllCatalog)
@Html.EditorFor(m => m.RegionCodeEqual)
@Html.EditorFor(m => m.SupplierIdNonEqual)
