@model String
<div class="row margin5">
    <div class="form-group form-group-otstup">
        <div class="flabel col-md-4">
            @Html.LabelFor(m => m)
        </div>
        <div class="feditor col-md-8">
            @Html.TextBoxFor(m => m, new { style = "width: 95%" })
            @Html.ValidationMessageFor(m => m)
        </div>
    </div>
</div>
