@using ProducerInterfaceCommon.ViewModel.Interface.Registration;
@model RegProducerViewModel

@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <h2>Регистрация</h2>

    <hr />

    <div class="col-xs-12">

        @using (Html.BeginForm("Registration", "Account", FormMethod.Get))
        {
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                        <label>Кого из производителей вы представляете</label>
                    </div>
                    @Html.EditorFor(m => m.ProducerId)
                </div>
            </div>

       

            <br/>            <br />            <br />
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Выбрать" />
                <a class="btn btn-warning" href="~/Account/CustomRegistration">Компания в списке отсутствует</a>
            </div>

        }
    </div>
</div>

@section JavaScript
{ 
    <script src="~/Content/Chosen/js/InitRegistrationChosen.js"></script>
}
