@model ProducerInterfaceCommon.ContextModels.SearchProducerReportsModel

@{
    ViewBag.Title = "Отчеты";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<h3>@ViewBag.Title</h3>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "sform" }))
{
    @Html.EditorForModel()
   <div class="form-group">
        <input type="button" class="btn btn-primary" value="Искать" onclick="getSearch()"/>
   </div>
}
@Html.Action("SearchResult", Model)

@section scripts
{    
<script src="~/Content/Chosen/js/chosen.jquery.js"></script>
<link href="~/Content/Chosen/css/chosen.css" rel="stylesheet" />
<script src="~/Content/Chosen/js/InitReportSearchChosen.js"></script>
 }