@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <p>здесь могла бы быть ваша реклама.</p>

    <div class="col-lg-5"  style="background-image:url('~/Content/Image/logo_temp.jpg')">

    </div>

    @*<p><a href="#" class="btn btn-primary btn-lg">-=*=*=-</a></p>*@
</div>

