@model ProducerInterfaceCommon.ContextModels.SearchPromotion
@{
    ViewBag.Title = "Поиск Промо-Акции производителя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Поиск Промо-Акций производителя</h2>



@using (Html.BeginForm(FormMethod.Post))
{
    @Html.ValidationSummary(true)

<div class="form-group">    
        @Html.DropDownListFor(m => m.IdProducer, new SelectList(ViewBag.ProducerList, "Value", "Text", Model), new { style = "display: none;" })
         <br/>
        @Html.ValidationMessageFor(m => m.IdProducer)    
</div>
<div class="form-group">
    <input type="submit" value="Поиск" class="btn btn-primary" />
</div>
    }


@section Scripts
{    
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Content/Chosen/js/chosen.jquery.js"></script>    
<link href="~/Content/Chosen/css/chosen.css" rel="stylesheet" />
<script src="~/Content/Chosen/js/InitSearchPromotionChosen.js"></script>
    }