@model IEnumerable<ProducerInterfaceCommon.LoggerModels.propertychangeview>
@{
    ViewBag.Title = "Список правок модели";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

@section navigation{
    <div class="body-content affix-top">
        <div class="row">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "LogUserChange")">Лог изменений БД</a>
                </li>
                <li class="active">Подробнее</li>
            </ol>
        </div>
    </div>
	}
<h2>Список правок модели</h2>

<hr />

<table class="table-bordered table-striped" id="Table-LogUserChange">
  <tr>
      <th>Свойство</th>
      <th>Старое значение</th>
      <th>Новое значение</th>
  </tr>

    @foreach (var ModelItem in Model)
    {
        <tr>
            <td>@ModelItem.PropertyDisplayName</td>
            <td>@ModelItem.ValueOld</td>
            <td>@ModelItem.ValueNew</td>
        </tr>
    }

</table>