<div id="ModalFilterForm" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Фильтр сообщений</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">

                        <div class="form-group">
                            <label>Производитель</label>
                            <select data-bind="foreach:ListProducer, value: ProducerId,event:{ change: Event_SelectProducer} , optionsCaption: 'Выберите производителя'" class="form-control">
                                <option data-bind="value: Value, text: Text"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Пользователь</label>
                            <select data-bind="foreach: ListAccount, value: AccountId, event:{ change: Event_SelectAccount}, optionsCaption: 'Выберите пользователя'  " class="form-control">
                                <option data-bind="value: Value, text: Text"></option>
                            </select>

                        </div>

                        <div class="row">

                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>От</label>
                                    <input type="text" id="DateBeginer" readonly data-bind="value: DateBegin" class="form-control pointer" />
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>До</label>
                                    <input type="text" id="DateEnder" readonly data-bind="value: DateEnd" class="form-control pointer" />
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label>Количество записей на странице</label>
                            <select data-bind="foreach: ItemsPerPageList, value: ItemsPerPage" class="form-control">
                                <option data-bind="value: Value, text: Text"></option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                @*<h4 data-bind="text: ErrorMessage" class="pull-left"></h4>*@
                <div class="btn btn-group btn-group-sm">
                    <a data-bind="click : Event_Search" class="btn btn-primary">Поиск</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть без поиска</button>
                </div>
            </div>
        </div>

    </div>
</div>


