  @{
      var ProducerList = ViewBag.ProducerList as IEnumerable<ProducerInterfaceCommon.ContextModels.OptionElement>;
  } 

<div claas="form-group">
    <label>Производитель</label>

    <select id="PrdoucerId" class="form-control">
        <option value="0">Не учитывать производителя</option>
        @foreach (var ProducerItem in ProducerList)
        {
            <option value="@ProducerItem.Value">@ProducerItem.Text</option>
        }

    </select>

</div>
