<div id="FeedBackModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-full">
        <div class="modal-content modal-content-full">
          
            <div class="modal-header">            
                <button type="button" class="close" data-dismiss="modal">&times;</button>               
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">

                        <h3>Обращение номер № <span data-bind="text:FeedBackOne.Id"></span></h3>
                        <h4>В работе</h4>
                        <hr/>

                        <p data-bind="text:FeedBackOne.Description"></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-dialog-full {
      width: 80%;
      height: 100%;     
}

.modal-content-full {    
      height: 100%;
}
</style>