@model ProducerInterfaceCommon.Models.RunNowParam

<div class="container body-content">
	<div class="row">
		<ol class="breadcrumb">
			<li>@Html.ActionLink("Отчеты", "Index") </li>
			<li class="active">Запуск отчета</li>
		</ol>
	</div>

	<div class="row">
		<div class="col-md-12">
			@using (Html.BeginForm()) {
				<fieldset>
					<legend>@ViewBag.Title</legend>
					@Html.ValidationSummary(true)
					@Html.EditorForModel()
					<div class="row margin5">
						<div class="feditor col-md-8">
							<input id="btn" type="submit" class="btn btn-primary" value="Сформировать отчет"/>
						</div>
					</div>
				</fieldset>
			}
		</div>
	</div>
</div>
@section JavaScript {
	<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
	<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
	<script src="~/Scripts/locales/bootstrap-datepicker.ru.min.js" charset="UTF-8"></script>
	<script src="~/Content/Chosen/js/initRunNow.js"></script>
}
