<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения о настройке приложения ASP.NET см. по адресу:
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="quartzDebug" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="quartzDebugWithCron" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="quartzRemote" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>
	</configSections>

	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net1213">
				<arg key="configType" value="INLINE" />
			</factoryAdapter>
		</logging>
	</common>

	<log4net>
		<appender name="Console" type="log4net.Appender.ConsoleAppender, log4net">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{dd.MM.yyyy HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<appender name="LogFile" type="log4net.Appender.RollingFileAppender, log4net">
			<file value="debug.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<maximumFileSize value="100KB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{dd.MM.yyyy HH:mm:ss.fff} %-5level %logger%newline%property{user} - %property{url} - %message%newline%exception" />
			</layout>
		</appender>

		<root>
			<level value="ALL" />
			<appender-ref ref="LogFile" />
			<appender-ref ref="Console" />
		</root>
	</log4net>

	<quartzDebug>
		<add key="quartz.scheduler.instanceName" value="TestScheduler" />
		<add key="quartz.threadPool.threadCount" value="3" />
		<!--AdoJobStore config-->
		<add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz" />
		<add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.MySQLDelegate, Quartz" />
		<add key="quartz.jobStore.dataSource" value="default" />
		<add key="quartz.jobStore.tablePrefix" value="QRTZ_" />
		<add key="quartz.dataSource.default.connectionStringName" value="quartz" />
		<add key="quartz.dataSource.default.provider" value="MySql-695" />
	</quartzDebug>
	<quartzRemote>
		<add key="quartz.scheduler.instanceName" value="ServerScheduler" />
		<!--set thread pool info-->
		<add key="quartz.threadPool.threadCount" value="0" />
		<!--remoting exporter-->
		<add key="quartz.scheduler.proxy" value="true" />
		<add key="quartz.scheduler.proxy.address" value="tcp://fms:555/QuartzScheduler" />
		<!--<add key="quartz.scheduler.proxy.address" value="tcp://127.0.0.1:555/QuartzScheduler" />-->
	</quartzRemote>
	<quartzDebugWithCron>
		<add key="quartz.scheduler.instanceName" value="ServerScheduler" />
		<add key="quartz.threadPool.threadCount" value="3" />
		<!--AdoJobStore config-->
		<add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz" />
		<add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.MySQLDelegate, Quartz" />
		<add key="quartz.jobStore.dataSource" value="default" />
		<add key="quartz.jobStore.tablePrefix" value="QRTZ_" />
		<add key="quartz.dataSource.default.connectionStringName" value="quartz" />
		<add key="quartz.dataSource.default.provider" value="MySql-695" />
	</quartzDebugWithCron>

	<appSettings>
		<add key="webpages:Enabled" value="false" />
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="IgnoreRoute" value="Home_Index,FeedBack_*,Account_*" />
		<add key="AdminGroupName" value="Администраторы" />
		<add key="LogonGroupAcess" value="все" />
		<add key="CatalogChangeEmail" value="kvasovtest@analit.net" />
		<add key="MailFrom" value="marketing@analit.net" />
		<add key="MailFromSubscription" value="АналитФармация" />
		<add key="SmtpHost" value="box.analit.net" />
		<add key="SmtpPort" value="25" />
		<add key="SiteName" value="Интерфейс производителя тестовый" />
		<add key="SiteHttp" value="http://test.analit.net/producerinterface" />
		<add key="MailInfo" value="kvasovtest@analit.net" />
		<add key="MailError" value="kvasovtest@analit.net" />
		<add key="DebugEmail" value="kvasovtest@analit.net" />
		<add key="PathToBaseDir" value="" />
		<add key="env" value="debug" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.5.2" />
		<httpRuntime targetFramework="4.5.2" maxRequestLength="1048576000" />
		<customErrors mode="Off" />
		<authentication mode="Forms">
			<forms timeout="10080" />
		</authentication>
	</system.web>

	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1048576000" />
			</requestFiltering>
		</security>
	</system.webServer>

	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>

	<connectionStrings>
		<add name="db" connectionString="server=localhost;database=producerinterface;user id=root;" providerName="MySql.Data.MySqlClient" />
		<add name="quartz" connectionString="server=localhost;Database=quartz;User ID=root" />
		<add name="producerinterface" connectionString="Data Source=localhost;database=producerinterface;User ID=root" />
		<add name="producerinterface_Entities" connectionString="metadata=res://*/ContextModels.producerinterface_Entities.csdl|res://*/ContextModels.producerinterface_Entities.ssdl|res://*/ContextModels.producerinterface_Entities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;database=producerinterface;user id=root&quot;" providerName="System.Data.EntityClient" />
		<add name="Logger_Entities" connectionString="metadata=res://*/LoggerModels.Logger_Entities.csdl|res://*/LoggerModels.Logger_Entities.ssdl|res://*/LoggerModels.Logger_Entities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;persistsecurityinfo=True;database=producerinterface&quot;" providerName="System.Data.EntityClient" />

		<add name="reportsEntities" connectionString="metadata=res://*/ReportModels.Reports_Entities.csdl|res://*/ReportModels.Reports_Entities.ssdl|res://*/ReportModels.Reports_Entities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;persistsecurityinfo=True;database=reports&quot;" providerName="System.Data.EntityClient" />
		<add name="catalogsEntities" connectionString="metadata=res://*/CatalogModels.CatalogsEntities.csdl|res://*/CatalogModels.CatalogsEntities.ssdl|res://*/CatalogModels.CatalogsEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;user id=root;server=localhost;persistsecurityinfo=True;database=catalogs&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

	<entityFramework>
		<defaultConnectionFactory type="MySql.Data.Entity.MySqlConnectionFactory, MySql.Data.Entity.EF6" />
		<providers>
			<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</providers>
	</entityFramework>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.8.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>