@model String

<div class="form-group col-sm-12 col-xs-12 col-md-12 col-lg-12">
    <label>@Html.LabelFor(m => m)<span class="required"></span></label>
    @Html.TextBoxFor(model => model, null, new { @class = "form-control col-sm-12 col-xs-12 col-md-12 col-lg-12" })  
</div>
