@model ProducerInterfaceCommon.ContextModels.PasswordUpdate
@{
    ViewBag.Title = "Восстановление пароля";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container body-content" id="password-recovery">
    <div class="row form-refactoring-w400">

        <div class="page-header">
            <h3>@ViewBag.Title</h3>
        </div>

        @using (Html.BeginForm())
        {
            <div class="form-group">
                <div class="form-group">
                    <label>Email<strong class="required">*</strong></label>
                    @Html.TextBoxFor(m => m.login, null, new { @Name = "login", @class = "form-control col-xs-12" })
                    @Html.ValidationMessageFor(m => m.login)
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Восстановить" />
        }

    </div>
</div>