
@{
    ViewBag.Title = "Обратная связь с пользователями сайта";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<div class="row">
    <div class="col-xs-12" id="FeedBackForm">

        <h2>Обращения пользователей</h2>                                  
        <h3>
            <span class="btn btn-group">
                <a class="btn btn-primary" data-toggle="modal" data-target="#filterModal">
                    Фильтр <span data-bind="text: ErrorMessage, css: { display: MessageView}"></span>
                </a>
                <a href="~/FeedBack/Index" class="btn btn-primary">Обновить страницу</a>
            </span>
        </h3>

        <hr/>

        <table id="myTable" class="table table-striped table-bordered table-condensed">
            <tr>
                <th><p>Id</p></th>
                <th><p>Текст обращения</p></th>

                <th>
                    <p><span data-bind="style: { display: SortTime}" class="glyphicon glyphicon-filter"></span>Дата обращения</p>                
                </th>

                <th>
                    <p><span data-bind="style:{display: SortStatus}" class="glyphicon glyphicon-filter"></span>Статус</p>                           
                </th>

                <th>
                    <p><span data-bind="style:{display: SortType}" class="glyphicon glyphicon-filter"></span>Тип</p>    
                </th>

                <th>
                    <p><span data-bind="style:{display: SortAccountName}" class="glyphicon glyphicon-filter"></span>Логин Пользователя</p>                  
                </th>

                <th>
                    <p><span data-bind="style:{display: SortProducerName}" class="glyphicon glyphicon-filter"></span>Производитель</p>              
                </th>

                <th><p>Адрес с которого сделан запрос</p></th>
                <th><p>Контакты</p></th>
                <th></th>
            </tr>

            @* тело таблицы привязанное к массиву FeedBack в модели FeedBackListModel *@
            <tbody data-bind="foreach: Feedback">
                <tr>
                    <td data-bind="text: Id"></td>
                    <td data-bind="text: Description"></td>
                    <td data-bind="text: DateTimeString"></td>
                    <td data-bind="text: StatusString"></td>
                    <td data-bind="text: TypeString"></td>
                    <td data-bind="text: AccountLogin"></td>
                    <td data-bind="text: Producername"></td>
                    <td data-bind="text: UrlString"></td>
                    <td data-bind="text: About"></td>
                    <td><a data-bind="click: $parent.Open.bind(Id)"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                </tr>
            </tbody>
        </table>

        @*Пагинатор*@
        <div class="row">
            <div class="col-xs-12">
                <ul class="pagination pagination-sm" data-bind="foreach: FilterModel.PaginatorLinks">
                    <li data-bind="css: ClassName">
                        <a data-bind="text: ViewCounter, click: FilterModel.Event_Pager_Search.bind($parent.PagerIndex)"></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

@* Модальное окно содержащее фильтр *@

@Html.Partial("Partial/FilterModal")

@* Модальное окно для действий над заявкой *@

@Html.Partial("Partial/ViewFeedBackModal")

@section scripts
{   
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/knockout-3.4.0.debug.js"></script>  
    @* Модели представления *@
    <script src="~/Scripts/WorkPlace/FeedBack_Index_Model.js"></script>
    @* Обвновление данных *@
    <script src="~/Scripts/WorkPlace/Feedback_Index_BindData.js"></script>
    @* Инициализация и функционал обмена данными с сервером *@
    <script src="~/Scripts/WorkPlace/FeedBack_Index.js"></script>
}