
@{
    ViewBag.Title = "Обращения пользователей";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<div class="row">
    <div class="col-xs-12" id="FeedBackListForm">
        <h2>Обращения пользователей</h2>
        <h3>
            <span class="btn btn-group">
                <a class="btn btn-primary" data-toggle="modal" data-target="#ModalFilterForm">
                    Фильтр <span data-bind="text: Message, css: { display: MessageView}"></span>
                </a>
                <a href="~/FeedBack/Index" class="btn btn-primary">Обновить страницу</a>
            </span>
        </h3>
        <hr/>

        <table id="myTable" class="table table-striped table-bordered table-condensed">
            <tr>
                <th><p>Id</p></th>
                <th><p>Текст обращения</p></th>

                <th>
                    <p><span data-bind="style: { display: SortTime}" class="glyphicon glyphicon-filter"></span>Дата обращения</p>
                </th>

                <th>
                    <p><span data-bind="style:{display: SortStatus}" class="glyphicon glyphicon-filter"></span>Статус</p>
                </th>

                <th>
                    <p><span data-bind="style:{display: SortType}" class="glyphicon glyphicon-filter"></span>Тип</p>
                </th>

                <th>
                    <p><span data-bind="style:{display: SortAccountName}" class="glyphicon glyphicon-filter"></span>Логин Пользователя</p>
                </th>

                <th>
                    <p><span data-bind="style:{display: SortProducerName}" class="glyphicon glyphicon-filter"></span>Производитель</p>
                </th>

                <th><p>Адрес с которого сделан запрос</p></th>
                <th><p>Контакты</p></th>
                <th></th>
            </tr>

            @* тело таблицы привязанное к массиву FeedBack в модели FeedBackListModel *@
            <tbody data-bind="foreach: FeedList">
                <tr>
                    <td data-bind="text: Id"></td>
                    <td data-bind="text: Description"></td>
                    <td data-bind="text: DateTimeString"></td>
                    <td data-bind="text: StatusString"></td>
                    <td data-bind="text: TypeString"></td>
                    <td data-bind="text: AccountLogin"></td>
                    <td data-bind="text: Producername"></td>
                    <td data-bind="text: UrlString"></td>
                    <td data-bind="text: About"></td>
                    <td><a data-bind="click: $parent.Event_SelectItem.bind(Id)"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-xs-12" id="FeedBackPaginationForm">
        <ul class="pagination pagination-sm" data-bind="foreach: PageList">
            <li data-bind="css: ClassName">
                <a data-bind="text: ViewCounter, click: $parent.Event_SelectedPage.bind(Counter)"></a>
            </li>
        </ul>
    </div>
</div>

@* 
click: FilterModel.Event_Pager_Search.bind($parent.PagerIndex)
*@

@* Модальное окно содержащее фильтр *@

@Html.Partial("Partial/ModalFilter")

@* Модальное окно для действий над заявкой *@

@Html.Partial("Partial/ModalFeedBackItem")


@section scripts
{
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/knockout-3.4.0.debug.js"></script>
    <script src="~/Scripts/WorkPlace/FeedBackModel.js"></script>
}