@using ProducerInterfaceCommon.ContextModels;
@model promotions

@if (Model.Status && Model.Enabled && Model.Begin < DateTime.Now && Model.End > DateTime.Now)
{
<p style="color:green" title="Публикуется"><span class="glyphicon glyphicon-info-sign"></span></p>
}

else if (Model.Status && !Model.Enabled && Model.Begin < DateTime.Now && Model.End > DateTime.Now)
{
<p style="color:brown" title="Подтверждена, отключена производителем"><span class="glyphicon glyphicon-info-sign"></span></p>
}

else if (Model.Enabled && Model.Status && Model.Begin < DateTime.Now)
{
<p style="color:red" title="Ожидание даты начала"><span class="glyphicon glyphicon-info-sign"></span></p>
}
else if (Model.Enabled && Model.Status && Model.End < DateTime.Now)
{
<p style="color:aquamarine" title="Завершена"><span class="glyphicon glyphicon-info-sign"></span></p>
}
else
{
<p style="color:magenta" title="Не подтверждена"><span class="glyphicon glyphicon-info-sign"></span></p>
}