@using ProducerInterfaceCommon.ContextModels;
@{
    ViewBag.Title = "Управление должностями пользователей интерфейса производителя";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    var ProducerList = ViewBag.ProducerList as IEnumerable<OptionElement>;
}

<div class="container">
    <h2>Управление должностями пользователей интерфейса производителя</h2>
    <a class="btn btn-primary" href="@Url.Action("Index","OfficePost")">Глобальный список должностей</a>
    <hr/>
    <div class="row">
        <div class="col-xs-12">
         
                @using (Ajax.BeginForm("GetAccountInProducer", "OfficePost", new AjaxOptions { UpdateTargetId = "ReplaceAccountList" } ))
{
                <div class="form-group">
                    <label>Выберите производителя</label>
                    <select name="IdProducer" id="IdProducer" class="form-control">
                        @foreach(var ProducerItem in ProducerList){<option value="@ProducerItem.Value">@ProducerItem.Text</option>}
                    </select>
                </div>

                <div class="form-group">
                    <input type="submit" value="загрузить список пользователей" class="btn btn-primary"/>
                </div>
}
              
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" id="ReplaceAccountList">


        </div>
    </div>

</div>


