body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
    cursor:default;
}

.promotion-ended, .promotion-ended td {
	background: #B7B7B7 !important;
}

.promotion-active, .promotion-active td {
	background: #60AF6F !important;
}

.promotion-await, .promotion-await td {
	background: #E5D585 !important;
}

.promotion-rejected, .promotion-rejected td {
	background: #E28585 !important;
}
#FormsList .listItem {display: inline-table;width: 100%;}
#FormsList .listItem span{display: table-cell; vertical-align: middle;}
#FormsList .listItem a{display: table-cell;padding-left: 12px;float: right;}
#FormsList .listItem img{ max-width: 100px;max-height: 38px;border: 2px solid #599dd8;}
#FormsList .listItem a:hover img{border-color: #22629a !important;}
.max-height-200{ max-height: 200px !important;}
.max-width-300{ max-width: 300px !important;}
.max-width-400{ max-width: 400px !important;}