<?xml version="1.0" encoding="utf-8"?>

<!-- Дополнительные сведения об использовании преобразования Web.config см. по адресу: http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    В следующем примере преобразование "SetAttributes" будет изменять значение
    "connectionString" с целью использования "ReleaseSQLServer", только когда
    указатель "Match" находит атрибут "name", который имеет значение "MyDB".
  -->
    <connectionStrings>
      <add name="producerinterface_Entities" connectionString="metadata=res://*/ContextModels.producerinterface_Entities.csdl|res://*/ContextModels.producerinterface_Entities.ssdl|res://*/ContextModels.producerinterface_Entities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=testsql.analit.net;database=producerinterface;user id=system;password=newpass&quot;" providerName="System.Data.EntityClient"
            xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="producerinterface" connectionString="Data Source=testsql.analit.net;database=producerinterface;User ID=system;password=newpass;"
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      В следующем примере преобразование "Replace" будет заменять весь 
      раздел <customErrors> в файле Web.config.
      Заметьте, поскольку имеется только один раздел customErrors в узле
      <system.web>, не требуется использовать атрибут "xdt:Locator".

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <log4net>
    <appender name="MySqlAdoNetAppender" type="log4net.Appender.ADONetAppender"
              xdt:Transform="Replace">
      <bufferSize value="1" />
      <connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />
      <connectionString value="Database=bd.sql.adc.analit.net;User ID=ProducerIf;password=password;" />
      <commandText value="INSERT INTO producerinterface.LogForNet (Message, DateAddLog, ErrorType, Host) VALUES (@Message, @Date,@Level, @Host)" />

      <reconnectonerror value="true" />
      <usetransactions value="false" />
      <threshold value="ALL" />
      <parameter>
        <parameterName value="@Message" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Date" />
        <dbType value="DATETIME" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@Level" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Host" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{log4net:HostName}" />
        </layout>
      </parameter>
    </appender>
  </log4net>
  
</configuration>
