<?xml version="1.0" encoding="utf-8"?>

<!-- Дополнительные сведения об использовании преобразования Web.config см. по адресу: http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    В следующем примере преобразование "SetAttributes" будет изменять значение
    "connectionString" с целью использования "ReleaseSQLServer", только когда
    указатель "Match" находит атрибут "name", который имеет значение "MyDB".
  -->
    <connectionStrings>
			<add name="quartz" connectionString="Data Source=bd.sql.adc.analit.net;Database=quartz;User ID=ProducerIf;Password=password;" 
					 xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
			<add name="producerinterface_Entities" connectionString="metadata=res://*/ContextModels.producerinterface_Entities.csdl|res://*/ContextModels.producerinterface_Entities.ssdl|res://*/ContextModels.producerinterface_Entities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=bd.sql.adc.analit.net;database=producerinterface;user id=ProducerIf;password=password&quot;" providerName="System.Data.EntityClient"
            xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="producerinterface" connectionString="Data Source=bd.sql.adc.analit.net;database=producerinterface;User ID=ProducerIf;password=password;"
            xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="Logger_Entities" connectionString="metadata=res://*/LoggerModels.Logger_Entities.csdl|res://*/LoggerModels.Logger_Entities.ssdl|res://*/LoggerModels.Logger_Entities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=bd.sql.adc.analit.net;database=producerinterface;user id=ProducerIf;password=password&quot;" providerName="System.Data.EntityClient"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
			<add name="catalogsEntities"
					 connectionString="metadata=res://*/CatalogModels.CatalogsEntities.csdl|res://*/CatalogModels.CatalogsEntities.ssdl|res://*/CatalogModels.CatalogsEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=bd.sql.adc.analit.net;database=catalogs;user id=ProducerIf;password=password&quot;"
					 providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		</connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      В следующем примере преобразование "Replace" будет заменять весь 
      раздел <customErrors> в файле Web.config.
      Заметьте, поскольку имеется только один раздел customErrors в узле
      <system.web>, не требуется использовать атрибут "xdt:Locator".

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

	<appSettings>
		<add key="MailInfo" value="marketing@analit.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="MailError" value="service@analit.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="GoToProducerUserUrl" value="http://pi.analit.net/producerInterface/Account/AdminAuthentification/" />
	</appSettings>

	<log4net>
    <appender name="MySqlAdoNetAppender" type="log4net.Appender.ADONetAppender" xdt:Transform="Replace" xdt:Locator="Match(name)">
      <bufferSize value="1" />
      <connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />     
      <connectionString value="Database=bd.sql.adc.analit.net;User Id=system;Password=newpass;" />

			<commandText value="INSERT INTO producerinterface.LogForNet (Date, Level, Logger, Host, User, Message, Exception, App) VALUES (?Date, ?Level, ?Logger, ?Host, ?User, ?Message, ?Exception, 'ProducerInterfaceAdmin')" />
			<reconnectonerror value="true" />
			<usetransactions value="false" />
			<threshold value="ALL" />
			<parameter>
				<parameterName value="?Date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
			<parameter>
				<parameterName value="?Level" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Logger" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Host" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{url}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?User" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{user}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Message" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Exception" />
				<dbType value="String" />
				<layout type="log4net.Layout.ExceptionLayout" />
			</parameter>
    </appender>

		<appender name="Email" type="log4net.Appender.SmtpAppender,log4net" xdt:Transform="Replace" xdt:Locator="Match(name)">
			<to value="service@analit.net" />
			<from value="service@analit.net" />
			<subject value="Ошибка в административной части Интерфейса производителя" />
			<smtpHost value="box.analit.net" />
			<lossy value="false" />
			<bufferSize value="1" />
			<threshold value="ERROR" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<conversionPattern value="%date{dd.MM.yyyy HH:mm:ss.fff} %-5level %logger%newline%property{user} - %property{url} - %message%newline%exception" />
			</layout>
		</appender>

	</log4net>
  
</configuration>
