@using ProducerInterfaceCommon.ContextModels
@model ProducerInterfaceCommon.ContextModels.ProducerUser

@{
    ViewBag.Title = "Изменение прав";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Изменение прав @Model.Name</h2>

<hr/>

@using (Html.BeginForm(FormMethod.Post))
{

    @Html.HiddenFor(m => m.Id)
    
        @Html.LabelFor(m => m.UserPermission) 
        <br />

       <div class="from-group">
           @Html.EditorFor(m => m.UserPermission)
       </div>

       <br/>

    <div class="from-group">
        <input type="submit" class="btn btn-primary" value="Сохранить измененния"/>
    </div>
}

        @section JavaScript
        {
            <script src="~/Content/Chosen/js/chosen.jquery.js"></script>
            <link href="~/Content/Chosen/css/chosen.css" rel="stylesheet" />
            <script src="~/Content/Chosen/js/InitPermission.js"></script>
        }
