@*@using ProducerInterfaceCommon.Models
    @model List<ProducerInterfaceCommon.ContextModels.jobextend>*@


@{
    var currentUser = ViewBag.CurrentUser as ProducerInterfaceCommon.ContextModels.Account;
    ViewBag.Title = "Кабинет производителя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group">    
    <p class="lead">Здраствуйте, @currentUser.Name.</p>	
</div>

<hr/> 

<div class="form-group" id="NewsListDiv">
	
	<h2>Новости</h2>
	<hr/>

	@if(ViewBag.News != null && ViewBag.News.Count > 0)
	{
		foreach(var NewsItem in ViewBag.News)
		{
			<div class="jumbotron">
				<h3>@NewsItem.Name</h3>
				<hr/>

				<p>@NewsItem.Description</p>

				<strong class="pull-right">Дата публикации @NewsItem.DatePublication</strong>
			</div>		
		}	
	}
	else
	{
	<p>Новостей не зарегистрировано</p>
	}

</div>
