@model dynamic

@{
	ViewBag.Title = "title";
}
<section id="main">
	<header class="page-header">
		<div class="container">
		</div>
	</header>
	<div class="container">
		<div class="row">
			<div class="content blog col-sm-9 col-md-9">
				<a href="@Url.Action("CreateRatingReport")">Рейтинговый отчет</a>
			</div><!-- .content -->
			@{ Html.RenderPartial("SideBar"); }
		</div>
	</div>
	<!-- .container -->
</section>
