@{
    ViewBag.Title = "Авторизация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ProducerInterface.Models.LoginValidation

@*<div class="jumbotron col-xs-12 col-sm-push-12 col-sm-6  col-md-push-12 col-md-6">*@
<div class="centered">

    <div class="row form-refactoring-w400">
        <div class="page-header">
            <h3>Введите ваш Логин/e-Mail и пароль для входа на сайт</h3>
        </div>
              
        @using (Html.BeginForm("UserAuthentication", "Registration"))
    {
            @Html.ValidationSummary(true)

            @Html.EditorFor(m => m.login)
            @Html.EditorFor(m => m.password)

            <div class="form-group">
                <input type="submit" class="btn btn-primary col-lg-12 col-sm-12 col-md-12 col-xs-12" value="Войти" />
            </div>

            <div class="form-group">
                <a href="~/Registration/Registration" class="">Регистрация</a>
            </div>

            <div class="form-group">
                <a href="~/Registration/PasswordRecovery" class="">Забыли пароль?</a>
            </div>
    }
    </div>
</div>

@section JavaScript
{
    @Scripts.Render("~/bundles/jqueryval")
}

@*<div class="modal modal-content">1212</div>*@