@model ProducerInterface.Models.PasswordUpdate
@{
    ViewBag.Title = "PasswordRecovery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="centered">
    <div class="row form-refactoring-w400">

        <div class="page-header">
            <h3>Восстановление пароля</h3>
        </div>

        @using (Html.BeginForm("PasswordRecoverySendMail", "Registration", FormMethod.Post))
        {
            <div class="form-group">
                @Html.ValidationSummary(true, "")
                @Html.EditorFor(m=>m.login)
            </div>
            <input type="submit" class="btn btn-primary" value="Восстановить" />
        }

    </div>
</div>