@model ProducerInterface.Models.PasswordUpdate
@{
    ViewBag.Title = "PasswordRecovery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">

    <h2>Восстановление пароля.</h2>
  <br/>
        @using (Html.BeginForm("PasswordRecoverySendMail", "Registration", FormMethod.Post))
        {
            <div class="form-group">
                @Html.ValidationSummary(true, "")         
               @Html.EditorFor(m=>m.login)          
            </div>
            <input type="submit" class="btn btn-success" value="Восстановить" />          
        }     
        
</div>