@model int?
    <div class="form-group"> 
            <label>@Html.LabelFor(m => m)<strong>*</strong></label> 
            @Html.DropDownListFor(m => m, new SelectList(ViewBag.AppointmentList, "Value", "Text", Model), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m)       
		
		<br/>
				<div class="form-group">
	            <a href="@Url.Action("AddAppointmentRequest","FeedBack")">Моей должности нет в списке, отправить заявку на ее добавление</a>
		</div>	

    </div>
