@*@{
var user = new ProducerInterfaceCommon.ContextModels.LoginValidation();
var model = user;
}*@
<div class="dropdown-menu" id="autentificationForm">
    <form method="post" action="~/Registration/UserAuthentication">
        <div class="form-group-lg">
            
            <div class="form-group">

                <div class="input-group">
                    <i class="input-group-addon" id="login-view">Логин</i>                 
              
                    <input type="text" class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12" name="login" id="login"/>
                          @*@Html.TextBoxFor(model => model.login, null, new { @Name = "login", @class = "form-control col-sm-12 col-xs-12 col-md-12 col-lg-12"})*@                 
                </div>    
                @*@Html.ValidationMessageFor(model => model.login)*@
              
            </div>

            <div class="form-group">
                <div class="input-group">
                    <i class="input-group-addon">Пароль</i>
                    <input type="password" class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12" name="password" id="password" />
                    @*@Html.TextBoxFor(model => model.password, null, new { @type = "password", @Name = "password", @class = "form-control col-sm-12 col-xs-12 col-md-12 col-lg-12"})*@

                    @*<input class="form-control input-group-lg" type="password" id="password" Name="password" placeholder="Пароль" />*@
                </div>
                @*@Html.ValidationMessageFor(model => model.password)*@
            
            </div>

            <div class="form-group col-lg-12 col-sm-12 col-xs-12 col-md-12">

                <input type="submit" class="btn btn-primary col-lg-12 col-sm-12 col-xs-12 col-md-12" value="Войти" />
            </div>

            <div class="form-group">
                <center>
                    <a href="~/Registration/PasswordRecovery">Забыли пароль?</a>
                </center>
            </div>
        </div>
    </form>
</div>                  
