@model ProducerInterface.Models.LoginValidation

<div class="dropdown-menu" style="width:300px; padding:10px; padding-bottom:0px;">
    <form method="post" action="~/Registration/UserAuthentication">
        <div class="form-group-lg">
            <div class="form-group">
                @Html.TextBoxFor(model => model.login, null, new { @Name = "login", @class = "form-control col-sm-12 col-xs-12 col-md-12 col-lg-12", @placeholder = "Логин" })
                @Html.ValidationMessageFor(model => model.login)
                <br />
                @*<input class="form-control input-group-lg" type="text" id="login" Name="login" placeholder="Логин" />*@
            </div>
            <div class="form-group">
                @Html.TextBoxFor(model => model.password, null, new {@type="password", @Name = "password", @class = "form-control col-sm-12 col-xs-12 col-md-12 col-lg-12", @placeholder = "Пароль" })
                @Html.ValidationMessageFor(model => model.password)
                <br />
                @*<input class="form-control input-group-lg" type="password" id="password" Name="password" placeholder="Пароль" />*@
            </div>
            <div class="form-group col-lg-12 col-sm-12 col-xs-12 col-md-12">

                <input type="submit" class="btn btn-primary col-lg-12 col-sm-12 col-xs-12 col-md-12" value="Войти" />
            </div>
            <div class="form-group">
                <center>
                    <a href="#">Забыли пароль?</a>
                </center>
            </div>
        </div>
    </form>
</div>                  
