@using AnalitFramefork.Extensions
@using AnalitFramefork.Hibernate.Models
@model dynamic

@{
    var reportTemplate = ViewBag.ReportTemplate as ReportTemplate;
}

<section id="main">
    <div class="container">
        <div class="row">
            <div class="content blog col-sm-9 col-md-9">
                <form id="contactform" class="form-box register-form contact-form" method="POST">
                    <h3 class="title">Создание отчета</h3>
                    <div>
                        <label>Наименование:</label>
                        @Html.TextBoxFor(i => reportTemplate.Title, new { @class = "form-control" })
                    </div>
                    <div>
                        <label>Тип:</label>
                        @{
                            var names = Enum.GetNames(typeof (ReportTemplateType));
                            var list = new List<SelectListItem>();
                            foreach (var name in names)
                            {
                                var val = (ReportTemplateType) Enum.Parse(typeof (ReportTemplateType), name);
                                var item = new SelectListItem();
                                item.Value = ((int) val).ToString();
                                item.Text = val.GetDescription();
                                list.Add(item);
                            }
                        }
                        @Html.DropDownListFor(i => reportTemplate.Type, list, new { @class = "form-control" })
                    </div>
                    <div class="clearfix"></div>
                    <div class="buttons-box clearfix">
                        <button type="submit" class="btn btn-info">Создать</button>
                    </div><!-- .buttons-box -->
                </form>
            </div>
            @{ Html.RenderPartial("SideBar");}
        </div>

    </div>

</section>
