@using AnalitFramefork.Hibernate.Models
@using ProducerInterface.Models
@{
	ViewBag.Title = "Добавить новость";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var currentUser = (ViewBag.CurrentUser as ProducerUser);
	var profileNews = (ViewBag.CurrentProfileNews as ProfileNews) ?? new ProfileNews();
}


@{
	<section id="main">
		<header class="page-header">
			<div class="container">
				<h1 class="title">Здравствуйте, @currentUser.Name !</h1>
			</div>
		</header>
		<div class="container">

			@using (Html.BeginForm("CreateNews", "Profile", FormMethod.Post)) {
				<div class="form-group">
					@Html.TextBoxFor(s => profileNews.Topic, new {@Name = "profileNews.Topic", @Class = "form-control", @Placeholder = "Заголовок"})
				</div>
				<div class="form-group">
					<label for="inputPassword" class="control-label">Содержание:</label>
					@Html.TextAreaFor(s => profileNews.Text, new {@Name = "profileNews.Text", @Class = "form-control", @Rows = "7"})
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 box">
					<button type="submit" class="btn btn-primary filter-buttons active-form">Добавить новость</button>
				</div>
			}
		</div>
		<!-- .container -->
	</section>
	<!-- #main -->
}