@using ProducerInterfaceCommon.ContextModels;
@model IEnumerable<ProducerInterfaceCommon.ContextModels.promotions>
@{
    ViewBag.Title = "Промо-акции";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}
<div class="container body-content">

    <div class="content panel-body">
        <h3 class="title">Промо-акции<a href="@Url.Action("Manage")" class="btn btn-primary pull-right">Добавить акцию</a>
        </h3> 
    </div>

    <hr />

    @if (Model != null && Model.Count() > 0)
    {
        <div class="panel-group">
            @foreach (var PromoItem in Model)
            {
            @Html.Partial("PromotionItem", PromoItem)

            <hr/>
            }
        </div>
    }
    else
    {
        <div class="row">
            <div class="content blog col-sm-9 col-md-9">
                <h4>Акций не зарегистрировано</h4>
            </div>
        </div>
    }
</div>

@*
        @section JavaScript
        {
        <link href="~/Content/FileUpload.css" rel="stylesheet" />
        <script src="~/Scripts/WorkPlace/FileUpLoad.js"></script>
        <script type="text/javascript">
            function ViewDivFileUpdate(id)
            {
                var DivId = "#File_" + id;
                $(DivId).css("display", "block");
            }
        </script>
    }
*@