@model DateTime

<div class="row">
    <div class="form-group">     
        <div class="row">
            @Html.LabelFor(m => m)
            @Html.TextBox("", String.Format("{0:dd.MM.yyyy}", Model), new { @readonly = "readonly", @class = "form-control", @style="max-width:8em;" })
            @Html.ValidationMessageFor(m => m)
        </div>       
    </div>
</div>

 