@model ProducerInterfaceCommon.Models.SecondarySalesReport

@Html.EditorFor(m => m.AllCatalog)
<div id="HideCatalog">
    @Html.EditorFor(m => m.CatalogIdEqual)
</div>
@Html.EditorFor(m => m.RegionCodeEqual)
