@using System.Resources
@model List<long>
@{
  // имя свойства
  var propName = ViewData.ModelMetadata.PropertyName;
  // лист всех вариантов для построения селекта
  var propList = (List<ProducerInterfaceCommon.ContextModels.OptionElement>)ViewData[propName];
  // класс для ошибки валидации, если есть
  var errorClass = "";
  var state = ViewData.ModelState[propName];
  if (state != null && state.Errors.Count > 0) {
      errorClass = " input-validation-error";
  }
}
<div class="row margin5">  
    <div class="@("feditor col-md-8" + errorClass)">
        @Html.ListBoxFor(m => m, new MultiSelectList(propList, "Value", "Text", Model), new {style = "display: none;", required= "required" })
        @Html.ValidationMessageFor(m => m)
    </div>
</div>