@using ProducerInterfaceCommon.ViewModel.Interface.Promotion
@using ProducerInterfaceCommon.Models
@model PromotionUi

<div class="btn-group btn-group-primary btn-group-lg">

	<a href="@Url.Action("Edit", new { IdKey = Model.Id, Copy = true })" title="Создать копию" class="btn  btn-default glyphicon glyphicon-floppy-save"></a>
	<a href="@Url.Action("Delete", new { Model.Id })" title="Удалить" onclick="return confirm('Вы уверены, что хотите удалить акцию?');" class="btn btn-default glyphicon glyphicon-trash delete"></a>

	<!-- если ещё не началась или активна - можно остановить -->
	@if (Model.ActualStatus == ActualPromotionStatus.ConfirmedNotBegin || Model.ActualStatus == ActualPromotionStatus.NotConfirmed || Model.ActualStatus == ActualPromotionStatus.Active)
	{
			<a href="@Url.Action("Publication", new { Model.Id, Enabled = false })" title="Остановить публикацию" class="btn  btn-default glyphicon glyphicon-eye-close"></a>
	}
	else if(Model.ActualStatus == ActualPromotionStatus.Disabled)
	{
			<!-- если остановлена пользователем - можно запустить -->
			<a href="@Url.Action("Publication", new { Model.Id, Enabled = true })" title="Начать публикацию акции*(При наступлении срока)" class="btn btn-default glyphicon glyphicon-eye-close"></a>
	}
</div>
