
@if(ViewBag.currentUser != null)
{

<div class="panel-group panel-success" id="accordion-menu">
  
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-parent="#accordion-menu2" href="~/Home/Index"><span class="glyphicon glyphicon-home"></span>Домашняя страница</a>
            </h4>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-parent="#accordion-menu2" href="~/Profile/Index" title="Редактирование профиля"><span class="glyphicon glyphicon-user"></span>Мой профиль</a>
            </h4>
        </div>
    </div>   
    <div class="panel panel-primary">      
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-menu2" href="#collapseOne"><span class="glyphicon glyphicon-cog"></span>Отчеты производителей</a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">            
            <div class="panel-body">
                <a href="~/Report/Index" class="btn btn-primary">Поиск отчетов производителей</a>
                <br />
                <a href="~/Report/ActiveReport" class="btn btn-primary">Список активных отчетов</a>
                <br />
                <a href="~/Report/NotActiveReport" class="btn btn-primary">Список удаленных отчетов</a>
            </div>
        </div>
    </div>    
    <div class="panel panel-primary">       
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-menu2" href="#collapseThree"><span class="glyphicon glyphicon-th-list"></span>Описание препаратов</a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse in">            
            <div class="panel-body">
                <a href="#" class="btn btn-primary">Список правок пользователей</a>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="~/Mail/Index"><span class="glyphicon glyphicon-envelope"></span>Почтовые сообщения</a>
            </h4>
        </div>      
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-menu2" href="#collapseFive"><span class="glyphicon glyphicon-user"></span>Права Администраторов</a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse in">
            <div class="panel-body">
                <a href="~/Permission/Index" class="btn btn-primary">Список администраторов</a>
                <br />
                <a href="~/Permission/Users" class="btn btn-primary">Список пользователей</a>
                <br />
                <a href="~/Permission/Group" class="btn btn-primary">Список групп</a>
                <br />
                <a class="btn btn-primary" href="~/Permission/CreateGroupPermission">Создание новой группы</a>
                <br />
                <a class="btn btn-primary" href="~/Permission/ListPermission">Список прав доступа</a>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-menu2" href="#collapseTwo"><span class="glyphicon glyphicon-user"></span>Права пользователей</a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="panel-body">
                <a href="~/PermissionUser/Group" class="btn btn-primary">Список Групп</a>
                <br/>                  
                <a href="~/PermissionUser/CreateGroupPermission" class="btn btn-primary">Создание новой группы</a>
                <br />
                <a href="~/PermissionUser/SearchUser" class="btn btn-primary">Поиск пользователя</a>
                <br />
                <a class="btn btn-primary" href="~/PermissionUser/ListPermission">Список прав доступа</a>        
                <br />
                <a class="btn btn-primary" href="~/GlobalAccount/Index">Заявки на регистрацию</a>        
            </div>
        </div>
    </div>  
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-menu2" href="#collapseSix"><span class="glyphicon glyphicon-star-empty"></span>Промо Акции</a>
            </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse in">
            <div class="panel-body">
                <a href="~/Promotion/Index" class="btn btn-primary">Ожидающие подтверждения</a>
                <br />
                <a href="~/Promotion/Index/?EnabledPromotion=true" class="btn btn-primary">Подтверждённые</a>
                <br />
                <a href="~/Promotion/Search/" class="btn btn-primary">Поиск по производителю</a>
                <br />
                <a class="btn btn-primary" href="~/Promotion/Active">Активные на данные момент</a>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-menu2" href="#collapseSeven"><span class="glyphicon glyphicon-cog"></span>логи ошибок и изменений</a>            
            </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse in">
            <div class="panel-body">
                <a href="~/LogForNet/Index" class="btn btn-primary">Логи ошибок</a>
                <br />
                <a href="~/LogUserChange/Index" class="btn btn-primary">Логи изменений</a>              
            </div>
        </div>
    </div>  
</div>

}
else
{
<div class="panel-group panel-success" id="accordion-menu">
    <div class="menu-account">
        <center>
            <h5>Добро пожаловать</h5>
            <h4><span class="glyphicon glyphicon-user"></span>Инкогнито</h4>
        </center>
    </div>
</div>
    }
