@using ProducerInterfaceCommon.ContextModels;
@model IEnumerable<AccountAppointment>

@{
    ViewBag.Title = "Глобальный список должностей";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<div class="container" id="replacecontent">
   @Html.Partial("Partial/ListAppointment", Model) 
</div>
