@using ProducerInterfaceCommon.ContextModels;
@model IEnumerable<AccountCompany>
@{
	ViewBag.Title = "Производитель";
	Layout = "~/Views/Shared/_MasterPage.cshtml";
}

@Html.Hidden("GetProducerInformationUrl", Url.Action("GetProducerInformation"), new { id = "GetProducerInformationUrl" })

<div class="row">
	<div class="col-xs-12">
		<label>Выберите производителя</label>
		<select id="CompanySelectId" onchange="GetProducerInformation()" class="form-control">
			<option value=""></option>
			@foreach (var item in Model) {
				<option value="@item.Id">@item.Name</option>
			}
		</select>
	</div>
</div>

<div class="row">
	<div class="col-xs-12" style="display:none;" id="loading">
		<br/>
		<h2><i class="glyphicon glyphicon-time"></i>&nbsp;&nbsp; Ожидайте, сбор информации
		</h2>
	</div>
	<div class="col-xs-12" id="replacecontent">

	</div>
</div>

@section scripts
{
	<script type="text/javascript">
        function GetProducerInformation()
        {
            var ElemUpdate = '#' + "replacecontent";
            $('#loading').css("display", "block");
            $(ElemUpdate).html("");
            var CompanyId = $('#CompanySelectId').val(); 
            stringPathName = $("#GetProducerInformationUrl").val();
            var sendParam = "Id=" + CompanyId;
            AjaxPost(stringPathName, sendParam, ElemUpdate);
        }
        
        function AjaxPost(url_, sendData_, ElemUpdate) {
            $.ajax({
                url: url_,
                data: sendData_,
                type: "POST",
                success: function (data) {
                    $(ElemUpdate).html(data);
                    $('#loading').css("display", "none");
                }
            });
        }

    </script>
}